<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alumni Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

 <style>
  body
  {
    overflow-x:hidden;
    margin:0;
  padding:0;
  }
#footer
{
  
  overflow-y: auto;
  margin-bottom:0;
  padding-top:5px;
color:#ffffe6;
text-align:center; 
background-color:skyblue;
}
#third{
border:2px solid white;
padding:10px;
color:white;
background-color:#900000;
}
#first{
border:2px solid white;
background-color:#900000;
}
#sec{
border:2px solid white;
text-align:center;
color:white;
padding-top:20px;
background-color:#900000;}
#logo{
justify-content:center;
padding-left:20px;
border:5px solid #900000;
}
.link{
color:white;
background-color:#2b3f7c;}
nav{
background-color: #ffffe6;
color:#fff;

}

.nav-link{
  text-decoration: none;
  color:#900000;
  font-weight: bold;
}
.nav-link:hover{
box-shadow:0 0 20px 0 rgba(0,0,0,0.3);
}
.custom-toggler.navbar-toggler { 
            border-color: lightgreen; 
        } 
        /* Setting the stroke to green using rgb values (0, 128, 0) */ 
          
        .custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        }
        .quick{
  background:#001a33;
  padding :30px;
  text-align:center;
}
.quick a{
 word-spacing: 2px;
 padding-right: 10px;
 font-weight: bold;
 color:white;
}
.bord{
  border-right: 1px solid white;
}
</style>
</head>
<body>
  <div  id="footer">
<p class="text-center">For official website of Knit Sultanpur, Please go to "knit.ac.in"</p>
</div>
 <div class="container-fluid">
 <div   class="row">
 <div id="first" class="text-center col-md-3 col-lg-3 col-xl-3">
 <img id="logo" src="knitlogo.jif" width="150px" height="120px" >
  </div>
 <div id="sec" class="col-md-6 col-lg-6 col-xl-6">
  <h1 class="text-center">KNIT Sultanpur Alumni Portal</h1>
   </div>
   <div id="third" class="text-center col-md-3 col-lg-3 col-xl-3">
  <a class="link" href="www.gmail.com"> <i class="fas fa-envelope-square">knit.16635@gmail.com</i></a><br><br>
  <a class="link" href="www.gmail.com"><i class="fas fa-phone-square">+91-9125292576</i></a><br><br>
    <a class="link" href="www.facebook.com"><i class="fab fa-facebook-square" >  Facebook ID</i></a>
   </div>
   </div>
   </div>

<nav class="navbar navbar-expand-lg ">
<button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#nava"> <span class="navbar-toggler-icon"></span> </button>
<div class="collapse navbar-collapse" id="nava">
    <ul class="navbar-nav text-center">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Facilities</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Alumni
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/registration">Alumni Registration</a>
          <a class="dropdown-item" href="/directory">Alumni Association</a>
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Upcoming Events</a>
          <a class="dropdown-item" href="#">Past Events</a>
        </div>
      </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donate Here
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Alumni-Inside INDIA</a>
          <a class="dropdown-item" href="#">Alumni-Outside INDIA</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav text-center ml-auto">
          <li class="nav-item " >
        <a class="nav-link " href="/login"><button>Login/Signup</button></a>
      </li>
    </ul>
    
  </div>
</nav>
<h1 style="color:skyblue;text-align:center;padding-top:50px">Alumni Directory</h1>
      <table class="table" id="slist">" 
  <thead style="color: #66ff66">
    <tr>

      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Passout Year</th>
      <th scope="col">Current Company</th>
    </tr>
  </thead>
   <% var n=1; %>
  <% items.forEach((ans)=>{%>
 
  <tbody>
    <tr>
      <th scope="col"><%= n %></th>
      <th scope="col"><%= ans.name %></th>
      <th scope="col"><%= ans.passout %></th>
      <th scope="col"><%= ans.company %></th>
    </tr>
  </tbody>
  <% n++; %>
  <% }); %>
</table>
<div class="quick">
  <a class="bord" href="/home">Home</a>
  <a class="bord" href="/about">About</a>
  <a class="bord" href="/about">Contact</a>
  <a class="bord" href="#">Terms And Condition</a>
  <a href="#">Privacy</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
</body>
</html>
